.loginScreen{
    position: relative;
    height: 100%;
    background: url('https://assets.nflxext.com/ffe/siteui/vlv3/c43f3cc0-6f02-4b8a-9470-7b1732eb937d/7ae82418-beea-4868-8594-dddd284dc46c/IN-en-20210315-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    background-position: center center;
    background-size: cover;
}
.loginScreen__logo{
    position: fixed;
    left: 0;
    width: 150px;
    padding-left: 20px;
    object-fit: contain;
}
.loginScreen__button{
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    color: white;
    font-size: 1rem;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
}
.loginScreen__gradient{
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-image: linear-gradient(to top ,rgba(0,0,0,0.8) 0, rgba(0,0,0,0.0) 60%, rgba(0,0,0,0.8) 100% );
}
.loginScreen__body{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin-left:  auto;
    margin-right:  auto;
    text-align: center;
    z-index: 1;
    color: white;
    padding: 20px;
}
.loginScreen__body > h1{
    font-size: 3.2rem;
    margin-bottom: 20px;
}
.loginScreen__body > h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.loginScreen__body > h3{
    font-size: 1.3rem;
    font-weight: 400;
}
.loginScreen__input> form > input{
    padding: 10px;
    outline: none;
    height: 30px;
    width: 30%;
    border: none;
    max-width: 600px;
}
.loginScreen__getStarted{
    padding: 16px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    border: none;
}
.loginScreen__input{
    margin: 20px;
}