.profileScreen{
    padding-top: 80px;
    height: 100vh;
}
.profileScreen__body{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}
.profileScreen__info{
    display: flex;
}
.profileScreen__body > h1{
    font-size: 60px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
}
.profileScreen__info > img{
    height: 100px;
}
.profileScreen__details{
    color: white;
    margin-left: 25px;
    flex: 1;
}
.profileScreen__details > h2{
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
}
.profileScreen__signOut{
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    color:white;
    background-color: #e50914;
    border: 0;
    font-weight: 600;
    outline: none;
    cursor: pointer;
}
.profileScreen__plans{
    margin-top: 20px;
}
.profileScreen__plans > h3{
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
}
.plans{
    display: flex;
    flex-direction: column;
}
.plans > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8px;
}
.plans > div > li{
    list-style: none;
}
.plans > div > button{
    padding: 10px 20px;
    font-size: 1rem;
    /* margin-top: 5%; */
    color:white;
    background-color: #e50914;
    border: 0;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}
.plans > div > button:hover{
    color:#e50914;
    background-color: white;
    /* border:1px solid #e50914 */
}