.footer{
    /* width: 100%; */
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    color: gray;
    border-top: 10px solid #222;
}
.footer > p{
    text-align: center;
    padding-bottom: 1%;
}
.footer__container{

    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
ul li{
    list-style: none;
    color: #757575;
    font-size: 14px;
    margin-bottom: 16px;
    padding-right: 12px;
    vertical-align: top;
    box-sizing: border-box;
    cursor: pointer;
}