.nav{
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 30px;
    z-index: 100;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    color: #e50714;
}
/* .nav p{
    position: fixed;
    left: 180px;
}
.nav p:nth-child(2){
    left: 280px;
} */
.nav p{
    position: fixed;
    right: 80px;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.nav__black{
    background-color: #111;
}
.nav__contents{
    display: flex;
    justify-content: space-between;
}
.nav__logo{
    position: fixed;
    top: 10px;
    left: 0;  
    width: 80px;
    object-fit: contain;
    cursor: pointer;
    padding-left: 20px;
}
.nav__avatar{
    position: fixed;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}